.catalogue {
    background-color: var(--bg);
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

/* Контейнер карточек */
.product_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    width: 100%;
}

/* Карточка */
.card {
    overflow: hidden;
    width: 316px;
    min-height: 563px; 
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.card_image {
    width: 316px;
    height: 421px;
    object-fit: cover;
    border-radius: var(--default-rounding);
    transition: transform 0.3s ease;
}

.card_content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.card_title {
    font-family: var(--sentient);
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
}

.card_price {
    font-family: var(--manrope);
    font-size: 14px;
    color: var(--black);
}

/* Badge */
.badge {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 89px;
    height: 33px;    
    background-color: var(--orange);
    color: var(--black);
    font-family: var(--manrope);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 16px;
    border-radius: 999px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;   
}

.no {
    background-color: transparent;
    color: transparent;
    box-shadow: none;
}

.product_list .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    background-color: rgba(230, 251, 255, 0.3);
}

.product_list .card .card_btn {
    transition: all 0.3s ease;
}

.product_list .card:hover .card_btn {
    transform: translateY(-3px); 
    background-color: var(--darkhover);
}
