/*Секция отзывов*/
.reviews {
    width: 100%;
    background-color: var(--bg);
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.reviews_list {
    display: flex;
    flex-wrap: nowrap; 
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    overflow-x: auto;        
    scroll-behavior: smooth;
}

.reviews_list::-webkit-scrollbar {
    display: none;
}

.reviewcard {
    background-color: var(--white);
    border-radius: var(--default-rounding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    min-width: 280px;
    max-width: 320px;
    flex: 0 0 auto;
    gap: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


/* Содержимое карточки */
.reviewcard_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.reviewcard_stars {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
}

.reviewcard_stars .star {
    font-size: 20px;
    color: var(--black);
}

/* Нижняя часть карточки */
.reviewcard_footer {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: auto;
}

.reviewcard_author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.reviewcard_avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewcard_name {
    font-family: var(--sentient);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.reviewcard_city {
    font-size: 12px;
    color: var(--black);
    text-align: center;
}

/* Стрелки */
.reviews_arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}

/* Кнопки стрелок */
.arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: var(--white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrow:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

@media (max-width: 720px) {
    .reviews_list {
        flex-direction: column;
        align-items: center;
    }

    .reviewcard {
        width: 100%;
        max-width: 400px;
    }

    .reviewcard_footer {
        flex-direction: column;
        text-align: center;
    }
}
